*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.homepage{
    height: 100vh;
    width: 100%;
}
.dark{
    background-color: black;
    color: rgb(182, 142, 32);
}
.light{
    background-color: skyblue;
    color: purple;
}
.homepage button{
    padding: 10px;
}